dkpro_cassis==0.10.1
fastapi==0.141.1
pydantic==2.13.4
pydantic-settings==2.0.3
pydantic_core==2.46.4
starlette==0.46.0
uvicorn==0.23.2
whisperx==3.7.4
typing_extensions==4.16.0
duui-logging @ git+https://github.com/texttechnologylab/DUUIlogger