setfit
germansentiment
pytorch-lightning
numpy
fastapi
dkpro-cassis
uvicorn[standard]
pydantic-settings
torchmetrics
einops
accelerate
soundfile
pillow
tensorflow
amdsmi
intel_extension_for_pytorch
transformers_neuronx
einops
torch-xla