transformers==4.27.4
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
nltk==3.7
fastapi==0.110.0
dkpro-cassis==0.9.1
uvicorn[standard]==0.27.1
pydantic-settings==2.0.2
pytorch-lightning==1.9.4
torchmetrics==1.2.0
six==1.16.0
sentencepiece==0.1.95
protobuf==3.19.1
scipy==1.10.1
pandas==1.4.3