annotated-types==0.7.0
anyio==3.7.1
attrs==25.4.0
dkpro-cassis==0.10.1
fastapi==0.104.1
neer-match==0.8.4
neer-match-utilities==1.1.6b0
numpy==1.26.4
pandas==3.0.2
pydantic==2.4.2
pydantic-settings==2.0.3
pydantic_core==2.10.1
python-dotenv==1.2.2
requests==2.33.1
tensorflow==2.18.0
urllib3==2.6.3
uvicorn==0.46.0
