torch==2.5.0
torchaudio==2.5.0
torchvision==0.20.0
scipy==1.13.1
setfit==1.0.3
sentencepiece==0.2.0
protobuf==5.29.4
germansentiment==1.1.0
pytorch-lightning==2.4.0
numpy==1.26.3
scikit-learn==1.5.0
nltk==3.9
fastapi==0.115.12
dkpro-cassis==0.9.1
uvicorn[standard]==0.27.1
pydantic-settings==2.0.2
torchmetrics==1.2.0
six==1.16.0
pandas==1.4.3
emoatlas==0.1.0
pysentimiento==0.7.3
diffusers
peft==0.10.0
transformers==4.48.0
starlette==0.40.0